.DFChomeView {
    background: url('../../../img/dfc_login_bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;

    .container {
        flex: auto;
        margin-top: 58px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .auth {
            width: 509/2px;
            height: 555/2px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -509/2/2-509/2/4px;
            margin-top: -555/2/2-555/2/4px;
        }

        .join {
            width: 562/2px;
            height: 609/2px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -562/2/2+562/2/7px;
            margin-top: -609/2/2+609/2/3px;
        }
    }
}

.DFCauthView {
    background: url('../../../img/dfc_bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;

    .container {
        flex: auto;
        margin-top: 180/2px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .auth_form {
            background: url('../../../img/dfc_form_bg.png');
            background-size: 100% 100%;
            width: 623/2px;
            height: 693/2px;

            .cell {
                position: relative;
                top: 158/2px;
                left: 82/2px;
                width: 438/2px;
                height: 104/2px;
                display: flex;
                flex-direction: column;

                label {
                    color: #C2902D;
                    font-size: 14px;
                }

                input {
                    margin-top: 8px;
                    border: none;
                    background-color: #D8D8D8;
                }
            }

            .btn_submit {
                position: relative;
                top: 502/2px;
                left: 235/2px;
                width: 154/2px;
                height: 60/2px;
            }
        }

        .cex-popup {
            .cex-mask-transition {
                z-index: 999 !important;
            }

            .cex-actionsheet {
                z-index: 1000 !important;
                background-color: rgba(0,0,0,0.0);
                transform: scale(0);

                .infoContainer {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .container {
                        margin-top: 0;
                    }

                    .close {
                        min-height: 30px;
                        width: 100%;
                    }
                }
            }

            .cex-actionsheet-toggle {
                transform: scale(1);
            }
        }
    }

    .pop01 {
        background: url('../../../img/pop_01_bg.png');
        background-size: 100% 100%;
        width: 629/2px;
        height: 560/2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .container {
            flex-grow: 1;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            margin-top: 10px;
        }
    }

    .pop_dfc_succ {
        width: 450/2px;
        height: 334/2px;
    }
}

.resultView {
    background: url('../../../img/lottery_bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;

    .container {
        flex: auto;
        margin-top: 58px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        img {
            width: 640/2px;
            height: 769/2px;
        }
    }
}

.plus {
    .container {
        .auth {
            width: 509/1.6px;
            height: 555/1.6px;
            margin-left: -509/1.6/2-509/1.6/4px;
            margin-top: -555/1.6/2-555/1.6/4px;
        }

        .join {
            width: 562/1.6px;
            height: 609/1.6px;
            margin-left: -562/1.6/2+562/1.6/7px;
            margin-top: -609/1.6/2+609/1.6/3px;
        }
    }

    .pop01 {
        width: 629/1.6px;
        height: 560/1.6px;
    }

    .pop_dfc_succ {
        width: 450/1.6px;
        height: 334/1.6px;
    }

    .DFCauthView {
        .container {
            margin-top: 180/1.6px;

            .auth_form {
                width: 623/1.6px;
                height: 693/1.6px;

                .cell {
                    top: 158/1.6px;
                    left: 82/1.6px;
                    width: 438/1.6px;
                    height: 104/1.6px;

                    label {
                        font-size: 14px;
                    }

                    input {
                        font-size: 14px;
                        margin-top: 10px;
                    }
                }

                .btn_submit {
                    top: 502/1.6px;
                    left: 235/1.6px;
                    width: 154/1.6px;
                    height: 60/1.6px;
                }
            }
        }
    }

    .resultView {
        .container {
            img {
                width: 640/1.6px;
                height: 749/1.6px;
            }
        }
    }
}
