.giftBar {
    width: 576/2px;
    height: 154/2px;
    background: url('../../../img/gifts_bar.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    // position: relative;
    // bottom: 40px;
}
.plus {
    .giftBar {
        width: 576/1.6px;
        height: 154/1.6px;
    }
}
