.treeBottom {
    z-index: 10;
    width: 100%;
    min-height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    .btn_my_join {
        margin-top: 15px;
        width: 278/2px;
        height: 66/2px;
    }
}
.plus {
    .treeBottom {
        .btn_my_join {
            width: 278/1.6px;
            height: 66/1.6px;
        }
    }
}
